
#box1 {
    width: 500px;
    height: 100px;
    color: rgb(1, 1, 1);
    background-color: rgb(252, 248, 176);
    padding: 10px;
    margin: 10px;
    border: 2px rgb(97, 157, 140) dashed; 
    border-width: 5px;
    float: right;  

     
}
#box2 {
    width: 300px;
    height: 100px;
    background-color: rgb(187, 255, 232);
    padding: 10px;
    margin: 20px;
    border: 7px black ;
    border-style: double none;
    float: left;
} 
#box3 {
    width: 500px;
    height: 100px;
    background-color: rgb(250, 172, 5);
    padding: 10px;
    margin: 20px;
    border: 7px rgb(190, 115, 40) groove;
    float: right;
}
